html{
  scroll-snap-type:y mandatory ;
}
.App{
  height: 100%;
 
  display: grid;
  place-items: center;


  background: linear-gradient(-45deg, #000000, #4b4a4a, #868686, #eff1f1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app_videos{
  position: relative;
  height: 800px;
  border-radius:20px ;
  overflow: scroll;
  width: 80%;
  scroll-snap-type: y mandatory;

  

}

.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  -ms-overflow-style:none;
  scrollbar-width:none;
}